/* main scss wtf really*/
body {
    margin-top: 80px;
    font-family: Montserrat, sans-serif;
}

p {
    font-family: Open Sans, sans-serif;
}

.color-prim-0-card {
    height: 5rem;
    background-color: #173873;
}

.color-prim-1-card {
    height: 5rem;
    background-color: #5170A7;
}

.color-prim-2-card {
    height: 5rem;
    background-color: #2E5090;
}

.color-prim-3-card {
    height: 5rem;
    background-color: #082355;
}

.color-prim-4-card {
    height: 5rem;
    background-color: #02112E;
}
