// variables scss
//base primary and secondary fonts
$font-family-primary: Montserrat, sans-serif;
$font-family-secondary: Open Sans, sans-serif;

//primary and secondary colors

// As hex codes

$color-primary-0: #173873;	// Main Primary color */
$color-primary-1: #5170A7;
$color-primary-2: #2E5090;
$color-primary-3: #082355;
$color-primary-4: #02112E;

$color-secondary-1-0: #AD1414;	// Main Secondary color (1) */
$color-secondary-1-1: #FB6D6D;
$color-secondary-1-2: #D93535;
$color-secondary-1-3: #810000;
$color-secondary-1-4: #450000;

$color-secondary-2-0: #108B10;	// Main Secondary color (2) */
$color-secondary-2-1: #57C957;
$color-secondary-2-2: #2AAD2A;
$color-secondary-2-3: #006700;
$color-secondary-2-4: #003700;

$color-complement-0: #AD7714;	// Main Complement color */
$color-complement-1: #FBC96D;
$color-complement-2: #D99F35;
$color-complement-3: #815300;
$color-complement-4: #452D00;



// As RGBa codes

$rgba-primary-0: rgba( 23, 56,115,1);	// Main Primary color */
$rgba-primary-1: rgba( 81,112,167,1);
$rgba-primary-2: rgba( 46, 80,144,1);
$rgba-primary-3: rgba(  8, 35, 85,1);
$rgba-primary-4: rgba(  2, 17, 46,1);

$rgba-secondary-1-0: rgba(173, 20, 20,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(251,109,109,1);
$rgba-secondary-1-2: rgba(217, 53, 53,1);
$rgba-secondary-1-3: rgba(129,  0,  0,1);
$rgba-secondary-1-4: rgba( 69,  0,  0,1);

$rgba-secondary-2-0: rgba( 16,139, 16,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba( 87,201, 87,1);
$rgba-secondary-2-2: rgba( 42,173, 42,1);
$rgba-secondary-2-3: rgba(  0,103,  0,1);
$rgba-secondary-2-4: rgba(  0, 55,  0,1);

$rgba-complement-0: rgba(173,119, 20,1);	// Main Complement color */
$rgba-complement-1: rgba(251,201,109,1);
$rgba-complement-2: rgba(217,159, 53,1);
$rgba-complement-3: rgba(129, 83,  0,1);
$rgba-complement-4: rgba( 69, 45,  0,1);

// light, normal and dark text
$normal-text: #242424;
$dark-text: #181818;
$darkest-text: #050502;
$lite-text: #6b6b6b;
$litest-text: #aeaaaa;
