// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/* font stacks */
$font-family-primary: Lato, sans-serif;
$font-family-secondary: Roboto, sans-serif;

/* all colors */
/* site colors */
$color-primary: ; //main primary color//
//$color-primary-lite: ; //primary color lite//
//$color-primary-dark: ; //primary color dark//
$color-secondary: ; //secondary color//
$color-secondary-lite: ; //secondary lite
$color-secondary-dark: ; //secondary dark
$color-secondary-2: ;	// secondary color 2
$color-secondary-lite-2: ; //secondary color 2 lite
$color-secondary-dark-2: ;//secondary color 2 dark
$color-secondary-darker-2: ;//secondary color 2 darker

/* text colors */
$color-text-primary : ;
$color-text-primary-lite: ;
$color-text-primary-dark: ;
$color-text-secondary : ;
$color-text-secondary-lite: ;
$color-text-secondary-dark: ;

/* headers colors */

/* anchor link colors */
$a-link-primary: ;
$a-link-secondary: ;
$a-visited-primary: ;
$a-visited-secondary: ;
$a-hover-primary: ;
$a-hover-secondary: ;
$a-active-primary: ;
$a-active-secondary: ;
